<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860495454922-tu4r1ud8s3ude4gjitamv54s0koe2kbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860495454922-tu4r1ud8s3ude4gjitamv54s0koe2kbv</string>
	<key>API_KEY</key>
	<string>AIzaSyD-0G7aeBlaeD5JR-jOQaEGbEkeiDgClCw</string>
	<key>GCM_SENDER_ID</key>
	<string>860495454922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ernestomoraes.loginui</string>
	<key>PROJECT_ID</key>
	<string>authfirebase-395d7</string>
	<key>STORAGE_BUCKET</key>
	<string>authfirebase-395d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860495454922:ios:397f69e930f36ec7204a33</string>
</dict>
</plist>